body {margin:0; padding: 0;}

.clearfix{
  zoom:1;
}
.clearfix:before,
.clearfix:after{
  display:table;
  content:'';
  line-height:0;
}
.clearfix:after{
  clear:both;
}

a {text-decoration: none;}

.relative { position: relative;  }
.absolute { position: absolute; }
.fl { float: left; }
.fr{ float: right; }
.block { display: block; }
.none {display: none;}
.centerText {text-align: center;}

img.check-img {width: 16px; height: 16px; line-height: 30px; margin-top: 7px; margin-right: 3px;}
.field-text{font-size: 14px;}
body {background-color: #151e31;}
#container { padding: 10%;  }
#logo-wrap {width: 200px; text-align: center; margin: 20px auto; }
#logo-text { display: inline-block; margin-top: 50px; font-size: 4em;font-weight: 900;}
.full-center { width: 100%; text-align: center;  }
#title {font-size: 2.6em; margin-top: 30px; font-weight: 900;}
.main-body { margin-top: 6em; }
#wrap-input-account {margin-bottom: 2.6em;}
#tip-input-account {font-size: 14px; color: white;}
input#input-account{
	display: block; width: 100%; margin-top: 1em; font-size: 3em; color: white; background: none; 
	border: none; border-radius: 0px; border-bottom: 1px solid white; outline:none;
}
.field-text {height: 30px; line-height: 30px; color: white;}
.field-line-wrap {width: 100%; margin-bottom: 1em;}
.field-wrap {width: 50%;}
#submit-wrap{width: 240px; margin: 0 auto; margin-top: 5em; }
#next-wrap{width: 100%; margin-top: 5em; text-align: center; }
#submit-button, #next-button, #back-button, #login-link {
 background-color: #5c7ed2; border: none; color: white; width: 110px; height: 40px; font-size: 2em; 
}
#login-link { padding: 8px 12px; }

.white {color: white; }
#footer { margin-bottom: 48px; }
.footer-text { font-size: 14px; }
#bottom-footer {position: fixed; bottom: 0; left: 0; width: 100%; height: 64px; background-color: #14223a;}
#agreement-wrap {margin: 0 auto; ;margin-top: 3em; width: 152px; }
#argeement-checkbox-tip-agreement-link {font-weight: 700;}
#qrcode { width: 48px; height: 48px; text-align: center; right: 10%; top: 8px;}

.highlight {color: #5c7ed2; }
.normal-color {color: #c7cce7;}
#pwd-tip-and-toggle-lang-wrap {width: 80%; margin-left: 10%;}
#tip-save-pwd {color: white; font-size: 14px;}
#lang-wrap {color: white; font-size: 14px;}
#word-password-wrap { width: 80%; margin-left: 6%; border: 1px solid white; margin-top: 3em; padding: 4%;}
#important-tip { font-size: 14px; color: white; margin-top: 2em;  }
#agreement-checkbox { line-height: 14px;  }
#argeement-checkbox-tip { line-height: 14px;  }
#argeement-checkbox-tip-agreement {font-size: 14px;}
#argeement-checkbox-tip-agreement-link {font-size: 14px;}

/* block view */
#top-block-view {display: none;}
#top-block-view-mask{ position: fixed; z-index: 18000; top: 0; left: 0; width: 100%; height: 100%; background-color: black; opacity: .75; }
#top-block-view-content { position: fixed; z-index: 18001; top: 50%; width: 100%; height: 80px; text-align: center; }
#top-block-view-tips { color: white; font-size: 16px; }
#top-block-view-loading img { width: 32px; height: 32px; }

#lang-cn, #lang-en {font-size: 16px;}
#congratulation { font-size: 20px; }
#your-account { font-size: 16px; margin-top: 3em; }
#login-link-wrap {margin-top: 8em; }
#login-link { font-size: 16px; }
